@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

     <ul class="nav navbar-top-links navbar-right">
         <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                 <i class="fa fa-user fa-fw"></i> @User.Identity.GetUserName() <i class="fa fa-caret-down"></i>
             </a>
             <ul class="dropdown-menu dropdown-user">
                 <li>
                     <a href="@Url.Action("Index", "Admin")"><i class="fa fa-cog fa-fw"></i> Gestionar</a>
                 </li>
                 <li class="divider"></li>
                 <li>
                     <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> <i class="fa fa-sign-out"></i> Salir</a>
                 </li>
             </ul>
             <!-- /.dropdown-user -->
         </li>
    </ul>
    }
}